<section class="contacts section">
    <div class="container">
        <h2 class="section__title">Мы на карте</h2>
        <div class="contacts__map" id="contacts__map">
            <div class="contacts__info">
                <div class="contacts__info-flex">
                    <address class="contacts__address">Производственная ул., 12к2, Москва</address>
                    <button class="contacts__button contacts__button_appointment">Записаться</button>
                </div>
                <button class="contacts__button contacts__button_callback">
                    <span class="contacts__button-text">Обратный звонок</span>
                </button>
            </div>
        </div>
    </div>
</section>