<section class="contacts section">
    <div class="container">
        <h2 class="section__title">Мы на карте</h2>
        <div class="contacts__map" id="contacts__map">
            <div class="contacts__info">
                <address class="contacts__address">Производственная ул., 12к2,<br>Москва</address>
                <ul class="contacts__buttons">
                    <li class="contacts__buttons-item">
                        <button class="contacts__button contacts__button_appointment">Записаться</button>
                    </li>
                    <li class="contacts__buttons-item">
                        <button class="contacts__button contacts__button_callback">Обратный звонок</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>