<section class="gallery section">
    <div class="container">
        <h2 class="section__title">Наша клиника</h2>
        <ul class="gallery__list">
            <li class="gallery__item">
                <a class="gallery__item-link" href="../img/gallery-entrance-large.webp" data-fslightbox="gallery">
                    <img class="gallery__item-img" src="../img/gallery-entrance.webp" alt="Вход в стоматологию">
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item-link" href="../img/gallery-hall-large.webp" data-fslightbox="gallery">
                    <img class="gallery__item-img" src="../img/gallery-hall.webp" alt="Холл">
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item-link" href="../img/gallery-room-1-large.webp" data-fslightbox="gallery">
                    <img class="gallery__item-img" src="../img/gallery-room-1.webp" alt="Кабинет №1">
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item-link" href="../img/gallery-room-2-large.webp" data-fslightbox="gallery">
                    <img class="gallery__item-img" src="../img/gallery-room-2.webp" alt="Кабинет №2">
                </a>
            </li>
        </ul>
    </div>
</section>