<header class="header section">
    <div class="header__container container">
        <a class="header__logo" href="#">
            <img class="header__logo-img" src="../img/logo.svg" alt="Ястом" width="63" height="64">
        </a>
        <button class="header__btn">Бесплатная консультация</button>
        <div class="header__info">
            <a class="header__phone" href="tel:+74995831530">+7 (499) 583-15-30</a>
            <p class="header__schedule">
                Ежедневно с <span class="header__schedule-time">9:00 до 21:00</span>
            </p>
        </div>
    </div>
</header>