<section class="prices section">
    <div class="container">
        <h2 class="section__title">Услуги и цены</h2>
        <ul class="prices__list">
            <li class="prices__item">
                <h3 class="prices__item-title">Имплант Osstem +<br>
                    коронка из металлокерамики</h3>
                <p class="prices__item-text">Работаем напрямую с производителем, поэтому наши цены не кусаются</p>
                <s class="prices__item-old-price">60 900 ₽</s>
                <span class="prices__item-new-price">54 900 ₽</span>
            </li>
            <li class="prices__item">
                <h3 class="prices__item-title">Пломба «под ключ»</h3>
                <p class="prices__item-text">Важно вылечить кариес вовремя.<br>Специальная цена на установку и замену
                    пломб</p>
                <s class="prices__item-old-price">8 500 ₽</s>
                <span class="prices__item-new-price">5 900 ₽</span>
            </li>
            <li class="prices__item prices__item_installment">
                <h3 class="prices__item-title prices__item-title_installment">Доступна <br> рассрочка</h3>
                <p class="prices__item-text prices__item-text_installment">0%</p>
            </li>
        </ul>
    </div>
</section>