<section class="services section">
    <div class="container">
        <h2 class="section__title">Услуги и цены</h2>
        <ul class="tabheader">
            <li class="tabheader__item tabheader__item_active">
                <button class="tabheader__button">Ортопедия</button>
            </li>
            <li class="tabheader__item">
                <button class="tabheader__button">Диагностика</button>
            </li>
            <li class="tabheader__item">
                <button class="tabheader__button">Детская стоматология</button>
            </li>
            <li class="tabheader__item">
                <button class="tabheader__button">Диагностика и консультация</button>
            </li>
            <li class="tabheader__item">
                <button class="tabheader__button">Рентгенология</button>
            </li>
            <li class="tabheader__item">
                <button class="tabheader__button">Гигиена</button>
            </li>
            <li class="tabheader__item tabheader__item_show-more">
                <button class="tabheader__button tabheader__button_show-more">...</button>
            </li>
            <li class="tabheader__item tabheader__item_hidden">
                <button class="tabheader__button">Lorem ipsum</button>
            </li>
            <li class="tabheader__item tabheader__item_hidden">
                <button class="tabheader__button">Lorem ipsum</button>
            </li>
            <li class="tabheader__item tabheader__item_hidden">
                <button class="tabheader__button">Lorem ipsum</button>
            </li>
        </ul>
        <ul class="tabcontent">
            <li class="tabcontent__item tabcontent__item_active">
                <table class="table">
                    <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__head table__head_first">Услуга</th>
                            <th class="table__head table__head_last">Наша цена</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <tr class="table__row">
                            <td class="table__data table__data_first">Протезирование зубов временным ЧСП на одну челюсть
                            </td>
                            <td class="table__data table__data_last">от 21 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Коррекция конструкции</td>
                            <td class="table__data table__data_last">от 1 500 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Перебазировка съемного протеза</td>
                            <td class="table__data table__data_last">от 6 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Восстановление зуба коронкой постоянной
                                металлокерамической. Под ключ</td>
                            <td class="table__data table__data_last">от 18 500 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Восстановление зуба коронкой из диоксид циркония.
                                Под ключ</td>
                            <td class="table__data table__data_last">от 20 900 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Протезирование зуба с использованием имплантата
                                коронкой постоянной металлокерамической на винтовой фиксации. Под ключ</td>
                            <td class="table__data table__data_last">от 31 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Протезирование зуба с использованием имплантата
                                коронкой постоянной из диоксид циркония на винтовой фиксации. Под ключ</td>
                            <td class="table__data table__data_last">от 39 000 ₽</td>
                        </tr>
                    </tbody>
                </table>
                <button class="show-more">Все цены</button>
            </li>
            <li class="tabcontent__item">
                <table class="table">
                    <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__head table__head_first">Услуга</th>
                            <th class="table__head table__head_last">Наша цена</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                    </tbody>
                </table>
                <button class="show-more">Все цены</button>
            </li>
            <li class="tabcontent__item">
                <table class="table">
                    <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__head table__head_first">Услуга</th>
                            <th class="table__head table__head_last">Наша цена</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                    </tbody>
                </table>
                <button class="show-more">Все цены</button>
            </li>
            <li class="tabcontent__item">
                <table class="table">
                    <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__head table__head_first">Услуга</th>
                            <th class="table__head table__head_last">Наша цена</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                    </tbody>
                </table>
                <button class="show-more">Все цены</button>
            </li>
            <li class="tabcontent__item">
                <table class="table">
                    <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__head table__head_first">Услуга</th>
                            <th class="table__head table__head_last">Наша цена</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                    </tbody>
                </table>
                <button class="show-more">Все цены</button>
            </li>
            <li class="tabcontent__item">
                <table class="table">
                    <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__head table__head_first">Услуга</th>
                            <th class="table__head table__head_last">Наша цена</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                    </tbody>
                </table>
                <button class="show-more">Все цены</button>
            </li>
            <li class="tabcontent__item">
                <table class="table">
                    <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__head table__head_first">Услуга</th>
                            <th class="table__head table__head_last">Наша цена</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                    </tbody>
                </table>
                <button class="show-more">Все цены</button>
            </li>
            <li class="tabcontent__item">
                <table class="table">
                    <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__head table__head_first">Услуга</th>
                            <th class="table__head table__head_last">Наша цена</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                    </tbody>
                </table>
                <button class="show-more">Все цены</button>
            </li>
            <li class="tabcontent__item">
                <table class="table">
                    <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__head table__head_first">Услуга</th>
                            <th class="table__head table__head_last">Наша цена</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                        <tr class="table__row table__row_hidden">
                            <td class="table__data table__data_first">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</td>
                            <td class="table__data table__data_last">от 5 000 ₽</td>
                        </tr>
                    </tbody>
                </table>
                <button class="show-more">Все цены</button>
            </li>
        </ul>
    </div>
</section>