.contacts
    &__map
        position: relative
        margin-top: 3.2rem
        max-width: 100%
        width: 100%
        height: 56rem
        z-index: 1
    &__info
        position: absolute
        top: 50%
        left: 6rem
        transform: translateY(-50%)
        padding: 3.2rem
        background-color: $white
        border-radius: 1.6rem
        z-index: 2
    &__address
        max-width: 34.5rem
        font-size: 2.4rem
        font-weight: 600
    &__button
        padding: 1.6rem
        width: 100%
        font-size: 1.4rem
        border-radius: 1.6rem
        &-text
            position: relative
            &::before
                content: ''
                position: absolute
                top: 50%
                left: -3.5rem
                transform: translateY(-50%)
                width: 2.4rem
                height: 2.4rem
                background: url('../img/phone.svg') center/cover no-repeat
        &_appointment
            margin-top: 3.2rem
            font-weight: 500
            color: $cyan
            background-color: $white
            border: 0.1rem solid $cyan
        &_callback
            margin-top: 1.6rem
            padding-left: 5rem
            font-weight: 600
            color: $white
            background: $cyan
            border: 0.1rem solid $cyan

@import '../media/_contacts-media'
