.header
    padding: 3.2rem 3.2rem 0
    &__container
        display: flex
        align-items: center
    &__logo
        &-img
            max-width: 6.3rem
            width: 100%
            max-height: 6.4rem
            object-fit: cover
    &__btn
        margin-left: auto
        padding: 1.1rem 2.1rem 1.1rem
        font-size: 1.4rem
        font-weight: 500
        border: 0.2rem solid $cyan
        border-radius: 2.4rem
    &__info
        margin-left: 2.4rem
        text-align: right
    &__phone
        font-size: 1.8rem
        font-weight: 700
    &__schedule
        margin-top: 0.5rem
        font-weight: 500
        color: $grey
        @include smallFontSize
        &-time
            color: $cyan

@import '../media/_header-media'
